<form method="PUT" action="/lk/{{userId}}" name='formLk'>
  <div class="mb-3">
    <label for="firstName" class="form-label">Загрузите фото</label>
    <input type="file" name="avatar" />
  </div>
  <div class="mb-3">
    <label for="firstName" class="form-label">Имя</label>
    <input type="text" class="form-control" id="firstName" name="firstName" value="{{firstName}}">
  </div>
  <div class="mb-3">
    <label for="lastName" class="form-label">Фамилия</label>
    <input type="text" class="form-control" id="lastName" name="lastName" value="{{lastName}}">
  </div>
    <div class="mb-3">
    <label for="middleName" class="form-label">Отчество</label>
    <input type="text" class="form-control"  name="middleName" value="{{middleName}}">
  </div>
  <div class="mb-3">
    <label class="form-label">Область</label>
    
    <select class="form-select" aria-label="Default select example" name="specialization">
      <option selected>Не выбрано</option>
      {{#each specForSelect}}
      {{#if this.spec}}
      <option selected="{{this.spec}}" value="{{this.name}}">{{this.name}}</option>
      {{else}}
      <option value="{{this.name}}">{{this.name}}</option>
      {{/if}}
      {{/each}}
  
</select>
  </div>
  <div class="mb-3">
    <label  class="form-label">Уровень</label>
    <select class="form-select" aria-label="Default select example" name="level">
      {{#each levelForSelect}}
      {{#if this.level}}
      <option selected="{{this.level}}" value="{{this.name}}">{{this.name}}</option>
      {{else}}
      <option value="{{this.name}}">{{this.name}}</option>
      {{/if}}
      {{/each}}
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Сохранить</button>
</form>
